.TitleChoice {
    -fx-font-size: 25px;
        -fx-font-weight: bold;
        -fx-text-fill: #ffffff;

        -fx-effect: dropshadow(
            gaussian,
            rgba(0,0,0,0.25),
            4, 0, 0, 1
        );
}

.informacoesButton {
    -fx-background-color: #ffffff;
        -fx-text-fill: #1f2937;

        -fx-font-size: 15px;
        -fx-font-weight: bold;

        -fx-background-radius: 12;
        -fx-border-radius: 12;

        -fx-padding: 12 24 12 24;

        -fx-cursor: hand;

        -fx-effect: dropshadow(
            gaussian,
            rgba(0,0,0,0.15),
            10, 0, 0, 3
        );
}

.informacoesButton:hover {
    -fx-background-color: #f5f5f5;
        -fx-scale-x: 1.03;
        -fx-scale-y: 1.03;
}

.AdminButton {
    -fx-background-color: linear-gradient(
            to bottom,
            #1f2937,
            #111827
        );

        -fx-text-fill: white;

        -fx-font-size: 15px;
        -fx-font-weight: bold;

        -fx-background-radius: 12;
        -fx-border-radius: 12;

        -fx-padding: 12 24 12 24;

        -fx-cursor: hand;

        -fx-effect: dropshadow(
            gaussian,
            rgba(0,0,0,0.25),
            10, 0, 0, 3
        );
}

.AdminButton:hover {
     -fx-background-color: linear-gradient(
            to bottom,
            #38c4d4,
            #2aa8b8
        );

        -fx-scale-x: 1.03;
        -fx-scale-y: 1.03;
}

.TitleChoiceAluno {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #1f2937;

    -fx-padding: 0 0 10 0;
}

.textMatricula {
    -fx-background-color: white;

    -fx-background-radius: 12;
    -fx-border-radius: 12;

    -fx-border-color: #d1d5db;
    -fx-border-width: 1.5;

    -fx-font-size: 16px;
}

.textMatricula:focused {
    -fx-border-color: #38c4d4;

    -fx-effect: dropshadow(
        gaussian,
        rgba(56,196,212,0.30),
        8, 0, 0, 0
    );
}

.confirmButton {
    -fx-background-color: #38c4d4;
    -fx-text-fill: white;

    -fx-font-size: 17px;
    -fx-font-weight: bold;

    -fx-background-radius: 12;
    -fx-border-radius: 12;



    -fx-cursor: hand;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.15),
        10, 0, 0, 3
    );
}

.confirmButton:hover {
    -fx-background-color: #2db2c2;

    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.confirmButton:pressed {
    -fx-background-color: #2499a8;

    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}